.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin-top: 100px;
}

.contacts {
  margin-top: 50px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  column-gap: 100px;
}

.top-input-container {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.top-input-container input {
  border-bottom: 1px solid orangered !important;
  background: none;
}

.contact-form input {
  line-height: 45px;
  border: none;
  width: 400px;
  padding: 0 20px;
}

.bottom-input-container {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.bottom-input-container input {
  width: 100%;
  border-bottom: 1px solid orangered;
  background: none;
}

.message {
  height: 120px;
  padding-top: 20px;
}

.submit-button {
  width: 150px;
  color: #f9f9f9;
  background-color: var(--hl-color);
  border: none;
  font-size: 14px;
  padding: 12px;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 100px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: var(--hl2-color);
  transform: scale(1.08);
  transition: 0.5s ease;
  cursor: pointer;
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

  .contact-form{
    display: flex;
    justify-content: center;

  }

  .top-input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
  }

  /* #name, #email {
    width: 300px;
  } */
 
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .row{
    width: 100%;
   
  }
  
  .contact-form{
    display: flex;
    justify-content: center;

  }

  .top-input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
  }

  #name, #email {
    width: 300px;
  }
}