.landing-container {
  height: calc(100% - 93px);
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (0 <= width <= 768px)  {

  .landing-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    line-height: 2.7;
 
  }

   .down-arrow-button{
    display: flex;
    justify-content: center;
    align-items: center;
  } 
  
}
