.project-card {
  border-radius: 3px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
  cursor: pointer;

  width: 600px;
}

.text-wrap {
  transition: all 0.9s ease-in-out;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-title {
  font-size: 24px;
  padding: 10px 0;
}

.view-work {
  font-size: 14px;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  height: 12em;
  margin-top: 25px;
  transition: all 1.3s ease-in-out;
}

.project-card::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}

.project-card {
  flex-direction: row;
  padding: var(--sm-spacing) !important;
  height: 350px;
}

.image-container {
  transform: translateX(30%);
  transition: all 0.3s ease-in-out;
}

/* .project-card:hover .image-container {
  transform: translateX(-40%);
}

.project-card:hover .text-wrap {
  transform: translateX(-150%);
}

.project-card:hover::before {
  opacity: 0;
}

.project-card:hover .image-container img {
  scale: 1.2;
}

.project-title {
  font-size: 30px;
  padding: 10px 0;
}

.view-work {
  font-size: 16px;
} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {

  /* .project-card{
    width: 600px;
  
  }  */

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
 
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .project-card{
      border-radius: 3px;
      margin-bottom: 20px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 !important;
      cursor: pointer;
    
  }
}


